.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin: 0 10px;
}

.navbar-list a {
  color: white;
  text-decoration: none;
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.username {
  color: white;
}